@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #545454;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --primary: #2e65ff;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 3, 11%, 44%, 0.1;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: #eee;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
        --principal-dark: #0d121f;
        --tones-50: #fafafa;
        --tones-200: #e0e9f4;
        --tones-950: #131825;
    }
}

.aspect-video {
    aspect-ratio: 16 / 9;
}
